body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    color: blue;
}

input[type="button"] {
    width: 100%; 
    padding: 10px 20px; 
    background-color:blue; 
    color: white; 
    font-size: 20px; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px;

}

input[type="text"] { 
    padding: 10px 5px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 1.5px solid black; 
}

table { 
    border: 1px solid black;
    border-radius: 5px;
}

span{
    font-weight: bold; 
}
